body > #root > div {
    height: 100vh;
  }

.vertical-center {
    display: flex;
    align-items: center;
    height: 100vh;
}





    /* SETTINGS */
.settings-page table {
    margin-bottom: 2rem;
}

.settings-page td {
    width: 160px;
}

.settings-page input {
    width: 100px;
    text-align: right;
}


#results-wr {

}

#results-wr #graph {
    height: 500px;
}

#results-wr pre {
    background: #eee;
    font-size: 0.8rem;
    padding: 2rem;
}