body > #root > div {
    height: 100vh;
  }

.vertical-center {
    display: flex;
    align-items: center;
    height: 100vh;
}





    /* SETTINGS */
.settings-page table {
    margin-bottom: 2rem;
}

.settings-page td {
    width: 160px;
}

.settings-page input {
    width: 100px;
    text-align: right;
}










/*  RESULTS */
#results-wr {

}

#results-wr #graph {
    height: 500px;
}

#results-wr pre {
    background: #eee;
    font-size: 0.8rem;
    padding: 2rem;
}

.results-api .authToken-input input,
.results-api .authToken-input button {
    display: inline-block;
    margin: 0.5rem 0.5rem 0.5rem 0;
}
.results-api .authToken-input input {
    vertical-align: middle;
}

.results-api .submit-data-btn {
    margin-bottom: 0.5rem;
}
